 # DataFrame
 
 DataFrame'ler, verileri tablo şeklinde düzenlememizi sağlar. Satırlar genellikle gözlemleri (örneğin, öğrenciler), sütunlar ise değişkenleri (örneğin, notlar, isimler) temsil eder.



Sütun İşlemleri: Yeni sütunlar ekleyebilir, mevcut sütunları silebilir veya güncelleyebilirsiniz.
İstatistiksel Hesaplamalar: Ortalama, standart sapma gibi istatistiksel hesaplamalar yapabilirsiniz.
Sıralama: Verileri belirli bir sütuna göre sıralayabilirsiniz.
Filtreleme: Belirli koşulları sağlayan satırları seçebilirsiniz.

### DataFrame Oluşturma

In [2]:
import pandas as pd
import numpy as np

In [3]:
ogr = {
    'isim': ['Arda', 'Beyza', 'Cansu', 'Deniz', 'Eda'],
    'yazili': [78,36,75,45,73],
    'sozlu': [56,75,34,87,56]
}

for (key, value) in ogr.items():
  print(f'{key}: {value}')

isim: ['Arda', 'Beyza', 'Cansu', 'Deniz', 'Eda']
yazili: [78, 36, 75, 45, 73]
sozlu: [56, 75, 34, 87, 56]

In [4]:
type(ogr)

dict

In [5]:
ogrenci_df = pd.DataFrame(ogr)
print(ogrenci_df)

    isim  yazili  sozlu
0   Arda      78     56
1  Beyza      36     75
2  Cansu      75     34
3  Deniz      45     87
4    Eda      73     56

In [6]:
print(type(ogrenci_df))

<class 'pandas.core.frame.DataFrame'>

#### Rastgele Sayılarla DataFrame Oluşturma

In [13]:
data = np.random.rand(10, 4) # NumPy ile 10 satır, 4 sütundan oluşan, 0-1 arası rastgele sayılar içeren bir NumPy array'i oluşturur.
columns_listesi = ['A', 'B', 'C', 'D'] # Sütun isimlerini tutan bir liste oluşturur.
df = pd.DataFrame(data, columns = columns_listesi) # array'i ve sütun isimlerini kullanarak bir Pandas DataFrame'i oluşturur.
print(df)

          A         B         C         D
0  0.308637  0.835097  0.403742  0.129613
1  0.115142  0.606768  0.205149  0.408243
2  0.407013  0.776121  0.175046  0.490667
3  0.646816  0.484287  0.637104  0.588938
4  0.418669  0.698556  0.458577  0.153494
5  0.766071  0.683888  0.483670  0.618600
6  0.455892  0.112353  0.334656  0.180008
7  0.445114  0.247128  0.802160  0.458749
8  0.613115  0.941117  0.128777  0.405402
9  0.375037  0.131406  0.642288  0.533269

### Yeni Sütun Ekleme

In [7]:
ogrenci_df = pd.DataFrame(ogr, columns=['isim', 'yazili','sozlu', 'ortalama'])
print(ogrenci_df)

    isim  yazili  sozlu ortalama
0   Arda      78     56      NaN
1  Beyza      36     75      NaN
2  Cansu      75     34      NaN
3  Deniz      45     87      NaN
4    Eda      73     56      NaN

In [8]:
ogrenci_df['ortalama'] = ogrenci_df['yazili'] * 0.6 + ogrenci_df['sozlu'] * 0.4
print(ogrenci_df)

    isim  yazili  sozlu  ortalama
0   Arda      78     56      69.2
1  Beyza      36     75      51.6
2  Cansu      75     34      58.6
3  Deniz      45     87      61.8
4    Eda      73     56      66.2

In [9]:
print(ogrenci_df['ortalama'][4])

66.2

##### Bir başka yeni sütun ekleme

In [10]:
ogrenci_df['numara'] = 0

print (ogrenci_df)

    isim  yazili  sozlu  ortalama  numara
0   Arda      78     56      69.2       0
1  Beyza      36     75      51.6       0
2  Cansu      75     34      58.6       0
3  Deniz      45     87      61.8       0
4    Eda      73     56      66.2       0

### Sütun Silme

In [11]:
ogrenci_df = ogrenci_df.drop('numara', axis=1)
print (ogrenci_df)

    isim  yazili  sozlu  ortalama
0   Arda      78     56      69.2
1  Beyza      36     75      51.6
2  Cansu      75     34      58.6
3  Deniz      45     87      61.8
4    Eda      73     56      66.2

### Verilere Erişme

 .loc: Etiketlere göre seçim yapar.
.iloc: Numaralı indekslere göre seçim yapar.

In [13]:
s = pd.Series(list("abcdef"), index=[49, 48, 47, 0, 1, 2]) 
print (s)

print (s.loc[0])    # value at index label 0
print (s.iloc[0])   # value at index location 0

49    a
48    b
47    c
0     d
1     e
2     f
dtype: object
d
a

In [9]:
print(ogrenci_df.loc[4])

isim      Eda
yazili     73
sozlu      56
Name: 4, dtype: object

In [7]:
print (ogrenci_df.iloc[4])

isim      Eda
yazili     73
sozlu      56
Name: 4, dtype: object

In [ ]:
ogrenci_df['ortalama'] = ogrenci_df['yazili'] * 0.6 + ogrenci_df['sozlu'] * 0.4
print(ogrenci_df['ortalama'][4])
print(ogrenci_df)

66.2
    isim  yazili  sozlu  ortalama
0   Arda      78     56      69.2
1  Beyza      36     75      51.6
2  Cansu      75     34      58.6
3  Deniz      45     87      61.8
4    Eda      73     56      66.2

In [14]:
print (ogrenci_df)

    isim  yazili  sozlu
0   Arda      78     56
1  Beyza      36     75
2  Cansu      75     34
3  Deniz      45     87
4    Eda      73     56

In [20]:
ogrenci_df['ortalama'] = ogrenci_df['yazili'] * 0.6 + ogrenci_df['sozlu'] * 0.4
print(ogrenci_df['ortalama'][4])
print ()
print (ogrenci_df["ortalama"])
print ()
print (ogrenci_df[["ortalama", "isim"]])

66.2

0    69.2
1    51.6
2    58.6
3    61.8
4    66.2
Name: ortalama, dtype: float64

   ortalama   isim
0      69.2   Arda
1      51.6  Beyza
2      58.6  Cansu
3      61.8  Deniz
4      66.2    Eda

    isim  yazili  sozlu  ortalama
0   Arda      78     56      69.2
1  Beyza      36     75      51.6
2  Cansu      75     34      58.6
3  Deniz      45     87      61.8
4    Eda      73     56      66.2

In [22]:
basarili_ogrenciler = ogrenci_df[ogrenci_df['ortalama']>66]
print(basarili_ogrenciler)

   isim  yazili  sozlu  ortalama
0  Arda      78     56      69.2
4   Eda      73     56      66.2

In [23]:
ogrenci_df

    isim  yazili  sozlu  ortalama
0   Arda      78     56      69.2
1  Beyza      36     75      51.6
2  Cansu      75     34      58.6
3  Deniz      45     87      61.8
4    Eda      73     56      66.2