# Gruplandırmalar

agg fonksiyonu, farklı sütunlar için farklı istatistiksel hesaplamalar yapmamıza olanak tanır.
groupby fonksiyonu, birden fazla sütuna göre gruplandırma yapmamıza da izin verir.

In [2]:
import numpy as np
import pandas as pd

In [3]:
# data adında bir sözlük. her bir anahtar (key), bir sütun adını (Kategori, Marka, Fiyat) ve bu sütuna ait değerler bir liste şeklinde tutuyor.
data = {
    "Kategori": ["Elektronik", "Giyim", "Giyim", "Elektronik", "Elektronik", "Giyim"],
    "Marka": ["Samsung", "Nike", "Adidas", "Apple", "Sony", "Levis"],
    "Fiyat": [2000, 300, 250, 5000, 1500, 150]
}

df3 = pd.DataFrame(data) # Veri çerçevesi (dataframe) olarak bu sözlüğün atanması
df3

     Kategori    Marka  Fiyat
0  Elektronik  Samsung   2000
1       Giyim     Nike    300
2       Giyim   Adidas    250
3  Elektronik    Apple   5000
4  Elektronik     Sony   1500
5       Giyim    Levis    150

Aşağıdaki kod veri çerçevesini "Kategori" sütununa göre gruplara ayırır. ("Elektronik" ve "Giyim") kategorilerine ait tüm satırlar ayrı ayrı gruplara alınır.

In [4]:
grouped = df3.groupby('Kategori').agg({'Fiyat': ['mean', 'min', 'max']})
# .agg({'Fiyat': ['mean', 'min', 'max']}): Bu kısım, her bir grup içindeki "Fiyat" sütunu için belirtilen istatistiksel hesaplamaları yapar:
print(grouped)

                  Fiyat
                   mean   min   max
Kategori
Elektronik  2833.333333  1500  5000
Giyim        233.333333   150   300

##### Çoklu Gruplandırma

Hem "Kategori" hem de "Marka" sütunlarına göre gruplandırıp, her bir grup (yani her bir kategori-marka kombinasyonu) için "Fiyat" sütunundaki değerlerin ortalamasını, minimumunu ve maksimumunu hesaplar. Yani, her bir benzersiz kategori-marka çifti için ayrı bir grup oluşturulur. Örneğin, "Elektronik-Samsung", "Giyim-Nike" gibi gruplar oluşur.

In [5]:
grouped = df3.groupby(['Kategori','Marka']).agg({'Fiyat': ['mean', 'min', 'max']})
print(grouped)

                     Fiyat
                      mean   min   max
Kategori   Marka
Elektronik Apple    5000.0  5000  5000
           Samsung  2000.0  2000  2000
           Sony     1500.0  1500  1500
Giyim      Adidas    250.0   250   250
           Levis     150.0   150   150
           Nike      300.0   300   300

In [6]:
sensor_grubu["axis"].sum()

NameError: name 'sensor_grubu' is not defined