https://raw.githubusercontent.com/zaferdemirkol/HerkesIcinYapayZeka/main/nba.csv

**1- Son 5 kaydı getirin**

In [5]:
import pandas as pd
import numpy as np

# Veri setini oku
nba = pd.read_csv('https://raw.githubusercontent.com/zaferdemirkol/HerkesIcinYapayZeka/main/nba.csv')

# İlk 5 satırı görüntüle
# print(nba.head())

# Son 5 satırı görüntüle
print(nba.tail(5))

             Name       Team  Number Position   Age Height  Weight College  \
453  Shelvin Mack  Utah Jazz     8.0       PG  26.0    6-3   203.0  Butler
454     Raul Neto  Utah Jazz    25.0       PG  24.0    6-1   179.0     NaN
455  Tibor Pleiss  Utah Jazz    21.0        C  26.0    7-3   256.0     NaN
456   Jeff Withey  Utah Jazz    24.0        C  26.0    7-0   231.0  Kansas
457           NaN        NaN     NaN      NaN   NaN    NaN     NaN     NaN

        Salary
453  2433333.0
454   900000.0
455  2900000.0
456   947276.0
457        NaN

**2- Sütunları getirin**

In [7]:
# İstenen hangisi anlamadım.
# 1-
print (nba.columns)
# 2-
columns = nba[:]
print (columns)

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')
              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]

**3- Son 3 kaydın "Salary", "Team", "Name" alanlarını getirin**

In [11]:
last_three_records = nba.tail(3)[['Salary', 'Team', 'Name']]
print(last_three_records)

last_three_records2 = nba.iloc[-3:][['Salary', 'Team', 'Name']]
print(last_three_records2)

last_three_records3 = nba.loc[len(nba)-3:][['Salary', 'Team', 'Name']]
print(last_three_records3)

        Salary       Team          Name
455  2900000.0  Utah Jazz  Tibor Pleiss
456   947276.0  Utah Jazz   Jeff Withey
457        NaN        NaN           NaN
        Salary       Team          Name
455  2900000.0  Utah Jazz  Tibor Pleiss
456   947276.0  Utah Jazz   Jeff Withey
457        NaN        NaN           NaN
        Salary       Team          Name
455  2900000.0  Utah Jazz  Tibor Pleiss
456   947276.0  Utah Jazz   Jeff Withey
457        NaN        NaN           NaN

**4- "Sport" isminde yeni bir sütun oluşturun ve bu sütunun bütün değerlerini "Basketball" yapın**

In [14]:
nba['Sport'] = "Basketball"
print (nba.head())

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary       Sport
0              Texas  7730337.0  Basketball
1          Marquette  6796117.0  Basketball
2  Boston University        NaN  Basketball
3      Georgia State  1148640.0  Basketball
4                NaN  5000000.0  Basketball

**5- "league" isminde yeni bir sütun oluşturun ve bütün değerlerini "National Basketball Association" yapın**

In [15]:
nba['League'] = "National Basketball Association"
print (nba.head())

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary       Sport                           League
0              Texas  7730337.0  Basketball  National Basketball Association
1          Marquette  6796117.0  Basketball  National Basketball Association
2  Boston University        NaN  Basketball  National Basketball Association
3      Georgia State  1148640.0  Basketball  National Basketball Association
4                NaN  5000000.0  Basketball  National Basketball Association

**6- "Weight in Kilograms" isminde bir sütun oluşturun ve bu sütunun değerlerini "Weight" sütunlarını 0.453 ile çarpılmış olarak ekleyin**

**7- NaN verilerini çıkarın**

**8- NaN verilerini 0 ile doldurun**

**9- "Name", "Age" ve "Salary" e göre sıralama yapın**